<div id="instructions-wrap">
<h2>Insurance Calculation Instructions:</h2>
<ol>
<li>Select a location on the map where you will be driving</li>
<li>Input your information in the form</li>
<li>Click enter in the "Calculate Your Insurance Rate" box to get a rate!</li>
</ol>
</div>

