h2{
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#instructions-wrap{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#77eed8 ,#9eabe4
    );
    overflow: scroll;
}
li{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height:150%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}