<div id="divWeatherMain"> 
    <div id="weather-query-time" class="weatherWidgetRow">{{WeatherData.queryTime}}</div>
    <div id="weather-date-time" class="weatherWidgetRow">{{WeatherData.queryTime}}</div>
    <div class="weatherWidgetRow ">
        <img class="weather-icon" src="" alt="">
    </div> 

    <div id="temp-weather" class="weatherWidgetRow" style="font-size: 48px;margin-top: 5px;">{{WeatherData.temp_celcius}}°</div>
    <div id="temp-highlow" class="weatherWidgetRow" style="font-size: 20px;">{{WeatherData.temp_min}}° / {{WeatherData.temp_max}}°</div>
    <div id="temp-feelslike" class="weatherWidgetRow" style="font-size: 20px;">Feels Like: {{WeatherData.temp_feels_like}}°</div>
    <div id="city" class="weatherWidgetRow" style="font-size: 35px;margin-top: 10px;">{{WeatherData.name}}</div>
    <div id="humidity" class="weatherWidgetRow" style="font-size: 20px;">Humidity: {{WeatherData.main.humidity}}%</div>
</div>