<div id="quote-container">
    <p id="quoteQueryTime"></p>
    <p id="quoteTimeStamp"></p>
    <p class="quote"> </p>
    <p class="author"> </p>
<img id="road" src="../assets/road.png" alt="not loading">

<a  (click)="getQuote()" class="animated-button8">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Press for New Quote
  </a>
</div>

