.row-flex{
    display: flex;
    flex-direction: row;
     margin: 30px 0;
     
}

h2{
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}
input{
    font-size: 20px;
}
input[type=radio] {
    width: 1em;
    height: 1em;
}
option{
    font-size: 20px;
}
select{
    font-size: 20px;
}
label{
    font-size: 20px;
}
.form-section{
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 10px;
}
#form-wrapper{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(#bdc3c7,#2c3e50);
    overflow: scroll;
}

@media (max-width: 1200px){

    .row-flex{
        text-align: center;
        flex-direction: column;
    }
}