<div class="grid-container">
<div class="size">
  <p id="mapInstructions"></p>
  <p id="lat-map">+32.0853</p>
  <p id="lng-map">+34.7818</p>
  <p id="queryTimeMap"></p>
  <google-map id="map" class="rendered" [zoom]="12" [center]="{lat:lat, lng:lng}" [options]="{disableDoubleClickZoom: true, 
  streetViewControl: false, zoomControl: false,
  clickableIcons: false}" (mapClick)="onChoseLocation($event)">
  <map-marker
   [position]="{lat:lat, lng:lng}"
 >

 </map-marker>
</google-map>
</div>

<div><app-weather-widget-main [lat]="lat" [lng]="lng"></app-weather-widget-main></div>
<div><app-instructions></app-instructions></div>
<div><app-quote-widget></app-quote-widget></div>
<div><app-form></app-form></div>
<div><app-calculator></app-calculator></div>
</div>

