
.grid-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50vh 70vh;
    padding-left: 5%;
    padding-right: 5%;
    grid-gap: 20px;
}
#mapInstructions{

    margin-bottom: -20px;
}
.size{
    overflow:hidden;
    border-radius: 10px;
    width: 100%;
    height:100%;
    background-color: skyblue;
}

#lng-map{
    position: absolute;
    visibility: hidden;
}
#lat-map{
    position: absolute;
    visibility: hidden;
}